.inactive
  pointer-events: none
  background-color: #ccc

.square
  display: flex
  border: 1px solid #666
  width: 30px
  height: 30px
  font-size: x-large

.column
  display: flex
  flex-direction: column

.row
  display: flex
  flex-direction: row
  margin: 0

.board
  border: 2px solid #000
