.inactive
  pointer-events: none
  background-color: #ccc
  box-sizing: border-box
  border: 1px solid #666

.square
  display: flex
  border: 1px solid #666
  width: 30px
  height: 30px
  font-size: x-large

.column
  display: flex
  flex-direction: column

.row
  display: flex
  flex-direction: row
  margin: 0

.board
  border: 1px solid #000

.activeBoard
  box-sizing: border-box
  border: 1px solid #0F0
